@charset "UTF-8";

@font-face {
  font-family: "Ubuntu Mono";
  src: url("../fonts/UbuntuMono.woff2") format("woff2"), url("../fonts/UbuntuMono.woff") format("woff");
  /* Pretty Modern Browsers */
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
form
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Ubuntu Mono", monospace;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Ubuntu Mono", monospace;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #21243d;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  background: #eeeae1;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 856px;
  margin: 0 auto;
}

#UserToken {
  text-decoration: underline;
}

.site {
  height: 100%;
}

.autoCompliteList {
  margin-top: 9px;
  background: #eaf0e3;
  border: 1px solid #908d84;
  border-radius: 4px;
  padding: 4px 8px;
  color: #908d84;
  max-height: 400px;
  overflow-y: scroll;
}

.inline {
  display: inline-block;
}

.add_page {
  padding: 90px 0 0 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title {
  font-size: 30px;
  font-weight: 700;
  color: #908d84;
  line-height: 136.36364%;
}

.text {
  font-size: 30px;
  line-height: 143.75%;
  color: #908d84;
}

.h1 {
  font-size: 35px;
  line-height: 143.75%;
  color: #908d84;
}

.bigText {
  font-size: 70px;
  font-size: 28px;
  line-height: 143.75%;
  color: #908d84;
}

.miniText {
  font-size: 20px;
  font-size: 20px;
  line-height: 143.75%;
  color: #908d84;
}

.title-posts {
  font-size: 22px;
}

.little_text {
  line-height: 136.36364%;
  font-size: 20px;
  color: #908d84;
}

.standartText {
  font-size: 20px;
  font-size: 25px;
  line-height: 143.75%;
  color: #908d84;
}

.bold {
  font-weight: bold;
}

.color__red {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  color: red;
}

.color__green {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  color: green;
}

.color__grey {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  color: grey;
}

.cursor__pointer {
  cursor: pointer;
}

.Attitude__color {
  background: #d9eff3;
}

.Attitude__color.popup {
  background: rgba(217, 239, 243, 0.75);
}

.Characters__color {
  background: #e8f4da;
}

.Characters__color.popup {
  background: rgba(232, 244, 218, 0.75);
}

.Morality__color {
  background: #f2ddd6;
}

.Morality__color.popup {
  background: rgba(242, 221, 214, 0.75);
}

.Vices__color {
  background: #f2ddd6;
}

.Vices__color.popup {
  background: rgba(242, 221, 214, 0.75);
}

.SocialTies__color {
  background: #e1e1e1;
}

.SocialTies__color.popup {
  background: rgba(225, 225, 225, 0.75);
}

.Emotions__color {
  background: #f5e6d4;
}

.Emotions__color.popup {
  background: rgba(245, 230, 212, 0.75);
}

.Skills__color {
  background: #ebe1ee;
}

.Skills__color.popup {
  background: rgba(235, 225, 238, 0.75);
}

.button {
  cursor: pointer;
}

.button.button__grey {
  margin: 0 auto;
  background: #e3dfd4;
  border: 1px solid #908d84;
  border-radius: 4px;
  padding: 10px 35px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.button.button__white {
  margin: 0 auto;
  background: #f8efe4;
  border: 1px solid #908d84;
  border-radius: 4px;
  padding: 10px 35px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.button.button__white.disabled {
  background: #e7e1db;
  cursor: unset;
}

.button__add {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button__add img {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 1%;
          flex: 1 0 1%;
  height: 30px;
  margin-right: 10px;
}

.button__add.button__line > div {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 30%;
          flex: 2 1 30%;
  border-bottom: 2px solid #908d84;
  border-bottom-width: 2px;
}

ul.list > li {
  list-style: disc;
  margin-left: 23px;
}

.block__info {
  overflow: hidden;
}

.block__info .block__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.block__info .block__field .field__name,
.block__info .block__field .field__value {
  font-size: 30px;
}

.block__info .block__field .field__line {
  margin: 0 0 0 5px;
  -webkit-box-flex: 2;
      -ms-flex: 2 0 5%;
          flex: 2 0 5%;
  border-bottom: 1px solid #908d84;
}

.block__info .block__fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.block__info .block__fields .block__field {
  margin-left: 30px;
}

.block__info .block__fields .block__field:first-child {
  margin-left: 0;
}

.block__info .block__fields .field__name,
.block__info .block__fields .field__value {
  font-size: 30px;
}

.block__info .block__fields .field__line {
  margin: 0 0 0 5px;
  -webkit-box-flex: 2;
      -ms-flex: 2 0 5%;
          flex: 2 0 5%;
  border-bottom: 1px solid #908d84;
}

.field__stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.field__stat > div:last-child {
  margin-right: 0px;
  color: gray;
}

.field__stat > div {
  margin-right: 5px;
  color: red;
}

.field__stat > div:nth-child(2n) {
  color: gray;
}

.field__stat > div:first-child() {
  color: green;
}

.hide {
  display: none !important;
}

.open {
  display: block !important;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.block__all_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

._popup-link {
  cursor: pointer;
}

.popup {
  color: #908d84;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  padding: 30px 10px;
  width: 100%;
  height: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
}

.popup::before {
  content: "";
  background-color: #eeeae121;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.7s ease 0s;
  -o-transition: opacity 0.7s ease 0s;
  transition: opacity 0.7s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  visibility: visible;
  overflow: auto;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  background: #eeeae1;
  border: 1px solid #908d84;
  border-radius: 9px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 30px 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 800px;
}

.popup__head {
  text-align: center;
}

.popup_moreInfoForStat .popup__data {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.popup_moreInfoForStat .popup__data > * {
  margin-bottom: 10px;
}

.popup_moreInfoForStat .popup__data > *:last-child {
  margin-bottom: 0px;
}

.popup_SocialTies_info .popup__data > * {
  margin-bottom: 20px;
}

.popup_SocialTies_info .popup__data > *:last-child {
  margin-bottom: 0px;
}

.popup_Describe .popup__body {
  width: 90%;
  max-width: 600px;
  padding: 20px 30px;
}

.popup_Describe .Describe__photo {
  max-width: 45%;
  margin: 5px auto 20px auto;
}

.popup_Describe .Describe__block_add {
  border: 1px solid #908d84;
  border-radius: 9px;
  padding: 5px 10px;
  min-height: 40px;
}

.popup_Describe .Describe__block_add picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup_Describe .Describe__block_add picture img {
  height: 30px;
}

.popup_Describe .list__inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup_Describe .list__inline > p {
  max-width: 50%;
}

.popup_Describe .list__inline > .field__line {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1%;
          flex: 1 1 1%;
  border-bottom: 1px solid #908d84;
  margin: 0 5px 5px 5px;
}

.popup_Describe .list__inline .field__stat {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.popup_Describe .list__inline .field__stat > * {
  margin-right: 0;
}

.popup_Describe .Describe__Attitude_add,
.popup_Describe .Describe__Characters_add,
.popup_Describe .Describe__Vices_add,
.popup_Describe .Describe__Morality_add,
.popup_Describe .Describe__Emotions_add,
.popup_Describe .Describe__Skills_add {
  margin-bottom: 10px;
}

.popup_ChangeTheTies .ChangeTheTies__photo {
  max-width: 45%;
  margin: 5px auto 20px auto;
}

.popup_ChangeTheTies .ChangeTheTies__add input {
  margin-top: 15px;
  width: 100%;
  background: #ffffff00;
  border-bottom: 1px solid #908d84;
}

.popup_ChangeTheTies .form__footer {
  margin-top: 20px;
}

.popup_ThankNo .popup__data .data__info {
  margin-top: 20px;
  text-align: center;
  background: #e3dfd4;
  border: 1px solid #908d84;
  border-radius: 9px;
}

.popup_Thank .popup__body {
  max-width: 500px;
}

.popup_Thank .Thank__photo {
  max-width: 45%;
  margin: 5px auto 20px auto;
}

.popup_Thank .Thank__info {
  text-align: center;
  margin: 0px 15px 20px 15px;
}

.popup_Thank .Thank__Ton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup_Thank .Thank__Ton .button__Token {
  width: 50%;
  margin-right: 25px;
}

.popup_Thank .Thank__Ton .button__Token input {
  position: relative;
  margin: 0 0 0 auto;
  background: #bae8ff;
  border: 1px solid #908d84;
  border-radius: 9px;
  padding: 5px 25px;
  max-width: 65%;
  height: 100%;
  left: 35%;
  color: #303757;
  text-align: center;
}

.popup_Thank .Thank__Ton .Ton__img {
  width: 100%;
  height: 100%;
  background-image: url("../img/help/ton_logo_light.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.popup_Thank .Thank__Ton .Ton__img p {
  visibility: hidden;
  height: 100%;
}

.popup_Thank .form__footer {
  margin-top: 20px;
}

.popup_userImg {
  padding: 60px 10px;
}

.popup_userImg .popup__body {
  background: #eeeae100;
  max-height: 80%;
  padding: 0;
  width: 100%;
  border: unset;
  border-radius: unset;
}

.popup_UserAlertNotFound .popup__body {
  width: 100%;
}

.popup_UserAlertNotFound .popup__data > div {
  margin-bottom: 15px;
}

.popup_UserAlertNotFound .popup__data > div:last-child() {
  margin-bottom: 15px;
}

.popup_UserAlertNotFound .popup__data .button {
  width: 100%;
}

.autocomplete__ChangeTheTies {
  z-index: 100;
  max-height: 200px;
  margin-top: -35px;
  background: #D6D6D6;
}

.header {
  position: relative;
  z-index: 100;
}

.header__content {
  padding-top: 12px;
  margin: 0px auto;
}

.header__menu {
  padding: 10px 0;
  height: 82px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__list li {
  margin: 0px 0px 30px 0px;
}

.menu__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.menu__link {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__link._active {
  color: #ff6464;
}

.icon-menu {
  display: none;
}

.header {
  width: 100%;
}

.header__osn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}

.header__img {
  height: 100%;
  -webkit-box-flex: 4;
      -ms-flex: 4 0 15%;
          flex: 4 0 15%;
}

.header__info {
  -webkit-box-flex: 2;
      -ms-flex: 2 0 50%;
          flex: 2 0 50%;
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
  overflow: hidden;
}

.header__info .header__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
}

.header__info > * {
  margin-bottom: 4px;
}

.header__dopInfo_auth ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__dopInfo_auth ul li > * {
  display: inline-block;
}

.footer {
  text-align: center;
  padding: 50px 0;
}

.footer__social {
  margin: 0px 0px 25px 0px;
}

.tabs__button {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.SocialTies .SocialTies__osnova {
  margin-bottom: 20px;
}

.SocialTies .SocialTies__osnova .list_open + .field__list {
  display: block;
}

.SocialTies .field__name {
  cursor: pointer;
}

.SocialTies .field__list li {
  margin-left: 42px;
}

.SocialTies .SocialTies__moreInfo,
.SocialTies .SocialTies__needAdd {
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 80px;
  text-align: center;
}

.Moral__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Moral .Moral__help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Moral .Moral__help img {
  height: 30px;
}

#page__content {
  height: 100%;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.tabList {
  padding-bottom: 5px;
}

.tabList .tabList__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tabList .tabList__info *:first-child {
  display: inline;
  font-weight: bold;
}

.tabList .tabList__info *:first-child div:first-child {
  font-weight: normal;
}

.tabList .user {
  margin-bottom: 10px;
}

.tabList .user__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tabList .field__list .list .list__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 15px;
  margin-bottom: 5px;
}

#SocialTies .field__list {
  padding-left: 15px;
}

#SocialTies .field__list li {
  margin-left: 42px;
  margin-bottom: 5px;
}

header {
  position: relative;
}

header .FAQ__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

header .FAQ__tabs .FAQ__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 35px;
  cursor: pointer;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1%;
          flex: 1 1 1%;
}

header .FAQ__header {
  left: 0px;
  right: 0px;
  padding: 0 0 30px 0;
  margin-bottom: -90px;
  text-align: center;
  position: fixed;
  z-index: 2;
}

.FAQ__page,
.Manual__page,
.TAndC__page {
  background-color: #e0f2d8;
}

.FAQ__page .page,
.Manual__page .page,
.TAndC__page .page {
  padding: 150px 0 0 0;
}

#TAndC > div:first-child > *:first-child {
  margin-top: 0;
}

#TAndC > div > * {
  margin-top: 10px;
}

#FAQ .FAQ__question,
#FAQ .Manual__question,
#Manual .FAQ__question,
#Manual .Manual__question,
#TAndC .FAQ__question,
#TAndC .Manual__question {
  padding-bottom: 10px;
}

#FAQ .FAQ__question .question_content,
#FAQ .Manual__question .question_content,
#Manual .FAQ__question .question_content,
#Manual .Manual__question .question_content,
#TAndC .FAQ__question .question_content,
#TAndC .Manual__question .question_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#FAQ .FAQ__question .question_content .arrow,
#FAQ .Manual__question .question_content .arrow,
#Manual .FAQ__question .question_content .arrow,
#Manual .Manual__question .question_content .arrow,
#TAndC .FAQ__question .question_content .arrow,
#TAndC .Manual__question .question_content .arrow {
  margin-right: 10px;
  cursor: pointer;
}

#FAQ .FAQ__question .question_content .arrow div,
#FAQ .Manual__question .question_content .arrow div,
#Manual .FAQ__question .question_content .arrow div,
#Manual .Manual__question .question_content .arrow div,
#TAndC .FAQ__question .question_content .arrow div,
#TAndC .Manual__question .question_content .arrow div {
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

#FAQ .FAQ__question .question_content .arrow.arrow_down div,
#FAQ .Manual__question .question_content .arrow.arrow_down div,
#Manual .FAQ__question .question_content .arrow.arrow_down div,
#Manual .Manual__question .question_content .arrow.arrow_down div,
#TAndC .FAQ__question .question_content .arrow.arrow_down div,
#TAndC .Manual__question .question_content .arrow.arrow_down div {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

#FAQ .FAQ__question .FAQ__answer,
#FAQ .FAQ__question .Manual__answer,
#FAQ .Manual__question .FAQ__answer,
#FAQ .Manual__question .Manual__answer,
#Manual .FAQ__question .FAQ__answer,
#Manual .FAQ__question .Manual__answer,
#Manual .Manual__question .FAQ__answer,
#Manual .Manual__question .Manual__answer,
#TAndC .FAQ__question .FAQ__answer,
#TAndC .FAQ__question .Manual__answer,
#TAndC .Manual__question .FAQ__answer,
#TAndC .Manual__question .Manual__answer {
  padding-top: 5px;
  display: block;
  padding-left: 20px;
  margin-left: 0px;
}

.FAQ__color {
  background-color: #e0f2d8;
}

.Manual__color {
  background-color: #f5e6d4;
}

.TAndC__color {
  background-color: #ebe1ee;
}

.FAQ__colorGR .FAQ__header {
  background: -webkit-gradient(linear, left top, left bottom, from(#e0f2d8), color-stop(48%, #e0f2d8), color-stop(70%, #e0f2d8), color-stop(85%, rgba(224, 242, 216, 0.776888)), color-stop(90%, rgba(224, 242, 216, 0.233471)));
  background: -o-linear-gradient(top, #e0f2d8 0%, #e0f2d8 48%, #e0f2d8 70%, rgba(224, 242, 216, 0.776888) 85%, rgba(224, 242, 216, 0.233471) 90%);
  background: linear-gradient(180deg, #e0f2d8 0%, #e0f2d8 48%, #e0f2d8 70%, rgba(224, 242, 216, 0.776888) 85%, rgba(224, 242, 216, 0.233471) 90%);
}

.Manual__colorGR .FAQ__header {
  background: -webkit-gradient(linear, left top, left bottom, from(#f5e6d4), color-stop(48%, #f5e6d4), color-stop(70%, #f5e6d4), color-stop(85%, rgba(245, 230, 212, 0.776888)), color-stop(90%, rgba(245, 230, 212, 0.233471)));
  background: -o-linear-gradient(top, #f5e6d4 0%, #f5e6d4 48%, #f5e6d4 70%, rgba(245, 230, 212, 0.776888) 85%, rgba(245, 230, 212, 0.233471) 90%);
  background: linear-gradient(180deg, #f5e6d4 0%, #f5e6d4 48%, #f5e6d4 70%, rgba(245, 230, 212, 0.776888) 85%, rgba(245, 230, 212, 0.233471) 90%);
}

.TAndC__colorGR .FAQ__header {
  background: -webkit-gradient(linear, left top, left bottom, from(#ebe1ee), color-stop(48%, #ebe1ee), color-stop(70%, #ebe1ee), color-stop(85%, rgba(235, 225, 238, 0.776888)), color-stop(90%, rgba(235, 225, 238, 0.233471)));
  background: -o-linear-gradient(top, #ebe1ee 0%, #ebe1ee 48%, #ebe1ee 70%, rgba(235, 225, 238, 0.776888) 85%, rgba(235, 225, 238, 0.233471) 90%);
  background: linear-gradient(180deg, #ebe1ee 0%, #ebe1ee 48%, #ebe1ee 70%, rgba(235, 225, 238, 0.776888) 85%, rgba(235, 225, 238, 0.233471) 90%);
}

header.add__header {
  margin: 0 auto;
  text-align: center;
  position: relative;
  width: 100%;
}

header.add__header .button__back {
  position: absolute;
  left: 25px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header.add__header .add__header_tittle {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1%;
          flex: 1 1 1%;
}

header.add__header .button_info {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

form.add__form {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 5%;
          flex: 1 0 5%;
  margin-top: -60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form.add__form .form__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

form.add__form .form__block input {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 5%;
          flex: 1 0 5%;
  background: #ffffff00;
  border-bottom: 1px solid #908d84;
}

form.add__form .form__block .custom-combobox {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 5%;
          flex: 1 0 5%;
  background: #ffffff00;
}

form.add__form .form__block .custom-combobox input {
  width: -webkit-fill-available;
}

form.add__form .form__footer {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 5%;
          flex: 1 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

form.add__form .form__footer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form.add__form .form__footer > div > button,
form.add__form .form__footer > div div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1%;
          flex: 1 1 1%;
  margin-right: 0;
  margin-left: 7.5px;
  text-align: center;
  max-width: 200px;
}

form.add__form .form__footer > div > button:last-child,
form.add__form .form__footer > div div:last-child {
  margin-left: 0;
  margin-right: 7.5px;
}

.ui-helper-hidden-accessible {
  display: none;
}

#__page__walletInfo .button_wallet_copy {
  margin-bottom: 15px;
  margin-top: 10px;
  background: #bae8ff;
  border: 1px solid #908d84;
  border-radius: 9px;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0;
}

#__page__walletInfo .button_wallet_copy div {
  color: #5a5854;
}

#__page__walletInfo .walletInfo__footer {
  margin-bottom: 15px;
  margin-top: 20px;
}

#params_info .button.button__white {
  margin-top: 20px;
}

#params_info .page.add_page {
  padding: 20px 0 15px 0 !important;
}

._no-webp #__page__warningNoTgId{
  background-image: url("../img/help/Cover_img.png"); }

#__page__warningNoTgId {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

#__page__warningNoTgId .citizen__img {
  width: 30%;
}

#__page__warningNoTgId .citizen__img img {
  width: 100%;
}

#__page__warningNoTgId .add__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

#__page__warningNoTgId .add__header p {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00d1ff), to(#c31fe4));
  background-image: -o-linear-gradient(top, #00d1ff 0%, #c31fe4 100%);
  background-image: linear-gradient(180deg, #00d1ff 0%, #c31fe4 100%);
  margin-right: 15px;
}

#__page__warningNoTgId .warningNoTgId__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1%;
          flex: 1 1 1%;
  margin-top: 20%;
}

#__page__warningNoTgId .warningNoTgId__content > * {
  color: #ffffff;
  text-align: center;
  margin-bottom: 15px;
}

#__page__warningNoTgId .warningNoTgId__content div.tgButton {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 40px;
}

#__page__warningNoTgId .warningNoTgId__content div.tgButton a.button {
  margin-top: 25px;
  border: 3px solid #ffffff;
  border-radius: 9px;
  background: #8d8d8d;
  mix-blend-mode: color-dodge;
  color: #ffffff;
}

.page {
  padding: 15px 0px 0px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  margin: 0px 17px;
  font-size: 30px;
  color: inherit;
}

@media (min-width: 767.98px) {
  .popup_ChangeTheTies .popup__body {
    min-width: 450px;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu__list li {
    margin: 0px 33px 0px 0px;
  }
}

@media (min-width: 991.98px) {
  .menu__link:hover {
    color: #ff6464;
  }

  .social__item:hover {
    color: #ff6464;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: none;
    padding: 0 12px;
  }
}

@media (max-width: 868px) {
  ._container {
    max-width: 750px;
  }
}

@media (max-width: 856px) {
  .button__add img {
    height: calc(
 10px + 20 *
 ((100vw - 320px) / 536));
  }

  .button__add img {
    margin-right: calc(
 3px + 7 *
 ((100vw - 320px) / 536));
  }

  .button__add.button__line > div {
    border-bottom-width: calc(
 1px + 1 *
 ((100vw - 320px) / 536));
  }

  .popup_Describe .Describe__block_add picture img {
    height: calc(
 15px + 15 *
 ((100vw - 320px) / 536));
  }

  .Moral .Moral__help img {
    height: calc(
 10px + 20 *
 ((100vw - 320px) / 536));
  }
}

@media (max-width: 767.98px) {
  .add_page {
    padding: 30px 0 0 0 !important;
  }

  .title-posts {
    text-align: center;
    font-size: 18px;
  }

  .block__all_row {
    padding: 16px 0px 0px 0px !important;
  }

  .popup_SocialTies_info .popup__body {
    min-width: auto;
    padding: 20px 20px;
  }

  .popup_ChangeTheTies .popup__body {
    padding: 20px 20px;
  }

  .popup_ThankNo .popup__body {
    padding: 20px 20px;
  }

  .popup_Thank .popup__body {
    padding: 20px 10px;
  }

  .header__menu {
    height: 50px;
  }

  .menu__body {
    -webkit-transform: translate(0px, -100%);
        -ms-transform: translate(0px, -100%);
            transform: translate(0px, -100%);
    -webkit-transition: -webkit-transform 0.8s ease 0s;
    transition: -webkit-transform 0.8s ease 0s;
    -o-transition: transform 0.8s ease 0s;
    transition: transform 0.8s ease 0s;
    transition: transform 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    padding: 70px 10px 30px 10px;
    background-color: rgba(255, 255, 255, 0.95);
  }

  .menu__body._active {
    -webkit-transform: translate(0px, 0%);
        -ms-transform: translate(0px, 0%);
            transform: translate(0px, 0%);
  }

  .menu__link {
    font-size: 40px;
    display: block;
    text-align: center;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .footer {
    padding: 30px 0;
  }

  .FAQ__page .page,
  .Manual__page .page,
  .TAndC__page .page {
    padding: 60px 0px 0px 0px;
  }

  #FAQ,
  #Manual,
  #TAndC {
    margin-top: 50px !important;
  }

  form.add__form {
    margin-top: -20px;
  }

  .page {
    padding: 10px 0px 0px 0px;
  }
}

@media (max-width: 479.98px) {
  .popup_Describe .popup__body {
    min-width: 90%;
    padding: 20px 20px;
  }
}

@media (max-width: 320px) {
  .title {
    font-size: calc(
 25px + 5 *
 ((320px - 320px) / 536));
  }

  .text {
    font-size: calc(
 10px + 20 *
 ((320px - 320px) / 536));
  }

  .h1 {
    font-size: calc(
 17px + 18 *
 ((320px - 320px) / 536));
  }

  .bigText {
    font-size: calc(
 40px + 30 *
 ((320px - 320px) / 536));
  }

  .miniText {
    font-size: calc(
 12px + 8 *
 ((320px - 320px) / 536));
  }

  .little_text {
    font-size: calc(
 9px + 11 *
 ((320px - 320px) / 536));
  }

  .standartText {
    font-size: calc(
 13px + 12 *
 ((320px - 320px) / 536));
  }

  .block__info .block__field .field__name,
  .block__info .block__field .field__value {
    font-size: calc(
 10px + 20 *
 ((320px - 320px) / 536));
  }

  .block__info .block__fields .field__name,
  .block__info .block__fields .field__value {
    font-size: calc(
 10px + 20 *
 ((320px - 320px) / 536));
  }
}


@media (max-width: 856px) and (min-width: 320px) {
  .title {
    font-size: calc(
 25px + 5 *
 ((100vw - 320px) / 536));
  }

  .text {
    font-size: calc(
 10px + 20 *
 ((100vw - 320px) / 536));
  }

  .h1 {
    font-size: calc(
 17px + 18 *
 ((100vw - 320px) / 536));
  }

  .bigText {
    font-size: calc(
 40px + 30 *
 ((100vw - 320px) / 536));
  }

  .miniText {
    font-size: calc(
 12px + 8 *
 ((100vw - 320px) / 536));
  }

  .little_text {
    font-size: calc(
 9px + 11 *
 ((100vw - 320px) / 536));
  }

  .standartText {
    font-size: calc(
 13px + 12 *
 ((100vw - 320px) / 536));
  }

  .block__info .block__field .field__name,
  .block__info .block__field .field__value {
    font-size: calc(
 10px + 20 *
 ((100vw - 320px) / 536));
  }

  .block__info .block__fields .field__name,
  .block__info .block__fields .field__value {
    font-size: calc(
 10px + 20 *
 ((100vw - 320px) / 536));
  }
}

._webp #__page__warningNoTgId{ background-image: url(../img/help/Cover_img.webp); }