<!DOCTYPE html><html lang="ru">   <head>
	<title>Citizen</title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="static/css/style.min.css">
	<link rel="shortcut icon" href="static/img/favico.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
</head>  <body>    <div class="site">      <div id="params_form" class="wrapper Characters__color">
  <header class="add__header title">
    <div class="add__header_tittle">Add Character</div>
    <div class="button_info text __page_open__addCharactersInfo cursor__pointer" id="info_open">!!!</div>
  </header>
  <main class="page add_page">
    <form class="add__form _container" method="post" action="/addcharacter">
      <div class="form__block standartText">
        Add property:
        <select id="combobox" class="form__property standartText" name="character_1">
          <option value=""></option>
          {{ range .characters}}
          <option value="{{.}}">{{.}}</option>
          {{ end }}
        </select>
      </div>
      <div class="form__block standartText">
        Add more:
        <select id="combobox" class="form__more standartText" name="character_2">
          <option value=""></option>
          {{ range .characters}}
          <option value="{{.}}">{{.}}</option>
          {{ end }}
        </select>
      </div>
      <input type="text" name="id" value="{{ .id }}" hidden>
      <div class="form__footer standartText">
        <div>
          <button type="submit" class="button button__white title disabled" id="add">Add</button>
          <button class="button button__white title" onclick="history.back()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </main>
  <footer class="footer">
</footer>
</div>
      <div id="params_info" class="wrapper Characters__color" style="display: none">
  <main class="page add_page">
    <div class="_container">
      <div class="text">
        <p class="bold" style="display: inline-block">Character</p>
        is a stable and individual set of qualities that determines how a person
        interacts with the world around him or her, his or her preferences,
        inclinations, motivations, behavioral and emotional reactions.
      </div>
      <br />
      <div class="text">
        Some of the qualities may be more pronounced than others and may
        manifest differently depending on the situation and context. In
        addition, character can develop and change over the course of life as a
        result of experience, learning, and interaction with the world around
        us.
      </div>
      <br />
      <div class="text">
        Character traits subconsciously influence one decision or another,
        without much consciousness. And only the subsequent evaluation of the
        consequences of the action and conclusions, lead to changes in the
        character and behavior of the person - so there is personal growth.
      </div>
      <br />
      <div class="text">
        Treat responsibly, unbiased and as impartially as possible when adding
        or changing a parameter! Be honest!
      </div>

      <div class="form__footer standartText">
        <div>
          <div id="form_open" class="button button__white title">
            OK
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
    </div>    <script src="static/js/vendors.min.js"></script>
<script src="static/js/app.min.js"></script>    <script src="static/js/add.min.js"></script>
<script src="https://telegram.org/js/telegram-web-app.js"></script>
  <script>
    var WebApp = window.Telegram.WebApp;
    let xhrURL = new URL('https://citizen.cool/validate');
    xhrURL.searchParams.set('initData', WebApp.initData);

    let xhr = new XMLHttpRequest();
    xhr.open('GET', xhrURL);
    xhr.responseType = 'json'; 
    xhr.setRequestHeader("Content-Type", "application/json"); 
    xhr.send();
    xhr.onload = function() {
        if (xhr.status == 200){
          if (xhr.response.result == false){
            window.location.href = "https://citizen.cool/warning"
          }
        }
    }
  </script>  </body></html>