<!DOCTYPE html><html lang="ru">   <head>
	<title>Citizen</title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="static/css/style.min.css">
	<link rel="shortcut icon" href="static/img/favico.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
</head>  <body>    <div class="site">      <div id="params_form" class="wrapper SocialTies__color">
  <header class="add__header title">
    <div class="add__header_tittle">Add social ties</div>
    <div class="button_info text cursor__pointer" id="info_open">!!!</div>
  </header>
  <main class="page add_page">
    <form class="add__form _container" method="post" action="/addsocialtie">
      <div class="form__block standartText">
        Telegram username:
        <select id="combobox" class="form__socialRole standartText" name="username"></select>
      </div>
      <div class="form__block standartText">
        Social role:
        <select id="combobox" class="form__socialRole standartText" name="role"></select>
      </div>
      <div class="form__footer standartText">
        <div>
          <button type="submit" class="button button__white title disabled" id="add">Add</button>
          <button class="button button__white title" onclick="history.back()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </main>
  <footer class="footer">
</footer>
</div>
      <div id="params_info" class="wrapper SocialTies__color" style="display: none">
  <main class="page add_page">
    <div class="_container">
      <div class="text">
        <p class="bold" style="display: inline-block">Social ties</p>
        are relations and interactions between people based on various social
        factors, such as marital status, friendship, work, communication on
        social networks, etc. These connections can be both formal and informal
        and include interactions between people, including the exchange of
        information, opinions, emotions and other resources.
      </div>
      <br />
      <div class="text">
        Social relations can have a significant impact on a person’s life and
        influence his behavior, thinking, feelings and emotions.
      </div>
      <br />
      <div class="text">
        When adding a new connection, try to cover as a common circle of dating
        as possible - this will favorably affect the impartial assessment of
        your personality!
      </div>

      <div class="form__footer standartText">
        <div>
          <div id="form_open" class="button button__white title">
            OK
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
    </div>    <script src="static/js/vendors.min.js"></script>
<script src="static/js/app.min.js"></script>    <script src="static/js/add.min.js"></script>  </body></html>