<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Citizen</title>
        <meta charset="UTF-8">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="static/css/style.min.css">
        <link rel="shortcut icon" href="static/img/favico.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    </head>
<body>
    <div id="__page__warningNoTgId" class="wrapper">
        <header class="add__header bigText _container">
            <p>Сitizen</p>
            <div class="citizen__img">
                <picture>
                    <source srcset="static/img/help/ICO_180.svg" type="image/webp"><img src="static/img/help/ICO_180.svg"
                        alt="" />
                </picture>
            </div>
        </header>
        <div class="_container warningNoTgId__content">
            <div class="title bold">Warning</div>
            <div class="h1">You are trying to view a WEB 3.0 Сitizen's passport.</div>
            <div class="h1">This can only be done in the Telegram bot.</div>
            <div class="tgButton">
                <a class="button button__white h1" href="https://t.me/citizen_pasport_bot">Open in Telegram</a>
            </div>
        </div>
    </div>
    <script src="static/js/vendors.js"></script>
    <script src="static/js/app.js"></script>
</body>
</html>