header.add__header {
  margin: 0 auto;
  text-align: center;
  position: relative;
  width: 100%;
  .button__back {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .add__header_tittle {
    flex: 1 1 1%;
  }
  .button_info {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

section.add__form {
  width: 100%;
  flex: 1 0 5%;
  margin-top: -60px;
  display: flex;
  flex-direction: column;
  @media (max-width: $md3+px) {
    margin-top: -20px;
  }

  .form__block {
    display: flex;
    margin-bottom: 10px;
    align-items: flex-end;
    input {
      height: fit-content;
      margin-left: 15px;
      flex: 1 0 5%;
      background: #ffffff00;
      border-bottom: 1px solid #908d84;
    }
    .custom-combobox {
      height: fit-content;
      margin-left: 15px;
      flex: 1 0 5%;
      background: #ffffff00;
      input {
        width: -webkit-fill-available;
      }
    }
  }

  .form__footer {
    height: 100%;
    flex: 1 0 5%;
    display: flex;
    flex-direction: column-reverse;
    & > div {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      & > div {
        flex: 1 1 1%;
        margin-right: 0;
        margin-left: 7.5px;
        text-align: center;
        max-width: 200px;
        &:last-child {
          margin-left: 0;
          margin-right: 7.5px;
        }
      }
    }
  }
}
