.tabs__button {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.SocialTies {
  .SocialTies__osnova {
    margin-bottom: 20px;

    .list_open + .field__list {
      display: block;
    }
  }
  .field__name {
    cursor: pointer;
  }

  .field__list {
    li {
      margin-left: 42px;
    }
  }

  .SocialTies__moreInfo,
  .SocialTies__needAdd {
    margin: auto;
    width: fit-content;
    padding: 0 80px;
    text-align: center;
  }

  .SocialTies__needAdd {
  }
}

.Moral {
  &__header {
    display: flex;
    justify-content: space-between;
  }
  .Moral__help {
    display: flex;
    align-items: center;
  }
  .Moral__help img {
    @include adaptiv-value("height", 30, 10, 1);
  }
}

#page__content {
  height: 100%;
  width: 100%;
  flex: 1;
}

.tabList {
  padding-bottom: 5px;
  .tabList__info {
    display: flex;
    justify-content: space-between;
    & *:first-child {
      display: inline;
      font-weight: bold;
      & div:first-child {
        font-weight: normal;
      }
    }
  }

  .user {
    margin-bottom: 10px;
    &__block {
      display: flex;
      justify-content: space-between;
    }
  }

  .field__list {
    .list {
      .list__content {
        display: flex;
        justify-content: space-between;
        padding-right: 15px;
        margin-bottom: 5px;
      }
    }
  }
}

#SocialTies {
  .field__list {
    padding-left: 15px;

    li {
      margin-left: 42px;
      margin-bottom: 5px;
    }
  }
}
