//<ОСНОВНОЙ БЛОК>====================================================================================================

#UserToken {
  text-decoration: underline;
}

.site{
  height: 100%;
}

.autoCompliteList {
  margin-top: 9px;
  background: #eaf0e3;
  border: 1px solid #908d84;
  border-radius: 4px;
  padding: 4px 8px;
  color: #908d84;
  max-height: 400px;
  overflow-y: scroll;
}

.inline {
  display: inline-block;
}

.add_page {
  padding: 90px 0 0 0 !important;
  display: flex;
  flex-direction: column;

  @media (max-width: $md3+px) {
    padding: 30px 0 0 0 !important;
  }
}

.title {
  @include adaptiv-font($tittleMax, 25, 1);
  font-weight: 700;
  color: $textColor1;
  line-height: 60 / 44 * 100%;
}
.text {
  @include adaptiv-font($tittleMax, $tittleMin, 1);
  line-height: 23 / 16 * 100%;
  color: $textColor1;
}

.h1 {
  @include adaptiv-font($h1Max, $h1Min, 1);
  line-height: 23 / 16 * 100%;
  color: $textColor1;
}

.bigText {
  @include adaptiv-font(70, 40, 1);
  font-size: 28px;
  line-height: 23 / 16 * 100%;
  color: $textColor1;
}

.miniText {
  font-size: 20px;
  @include adaptiv-font(20, 12, 1);
  line-height: 23 / 16 * 100%;
  color: $textColor1;
}

.title-posts {
  font-size: 22px;
  @media (max-width: $md3+px) {
    text-align: center;
    font-size: 18px;
  }
}

.little_text {
  line-height: 60 / 44 * 100%;
  @include adaptiv-font($little_textMax, $little_textMin, 1);
  color: $textColor1;
}

.standartText {
  font-size: 20px;
  @include adaptiv-font(25, 13, 1);
  line-height: 23 / 16 * 100%;
  color: $textColor1;
}

.bold {
  font-weight: bold;
}

.color {
  &__red {
    width: fit-content;
    display: inline-block;
    color: red;
  }

  &__green {
    width: fit-content;
    display: inline-block;
    color: green;
  }

  &__grey {
    width: fit-content;
    display: inline-block;
    color: grey;
  }
}

.Attitude__color {
  background: rgb(217, 239, 243);
  &.popup {
    background: rgba(217, 239, 243, 0.75);
  }
}

.Characters__color {
  background: rgb(232, 244, 218);
  &.popup {
    background: rgba(232, 244, 218, 0.75);
  }
}

.Morality__color {
  background: rgb(242, 221, 214);
  &.popup {
    background: rgba(242, 221, 214, 0.75);
  }
}

.Vices__color {
  background: rgb(242, 221, 214);
  &.popup {
    background: rgba(242, 221, 214, 0.75);
  }
}

.SocialTies__color {
  background: rgb(225, 225, 225);
  &.popup {
    background: rgba(225, 225, 225, 0.75);
  }
}

.Emotions__color {
  background: rgb(245, 230, 212);
  &.popup {
    background: rgba(245, 230, 212, 0.75);
  }
}

.Skills__color {
  background: rgb(235, 225, 238);
  &.popup {
    background: rgba(235, 225, 238, 0.75);
  }
}

.button {
  cursor: pointer;

  &.button__grey {
    margin: 0 auto;
    background: #e3dfd4;
    border: 1px solid #908d84;
    border-radius: 4px;
    padding: 10px 35px;
    width: max-content;
  }

  &.button__white {
    margin: 0 auto;
    background: #f8efe4;
    border: 1px solid #908d84;
    border-radius: 4px;
    padding: 10px 35px;
    width: max-content;
  }

  &__add {
    width: max-content;
    display: flex;
    align-items: center;
    & {
      display: flex;
    }
    & img {
      flex: 1 0 1%;
      @include adaptiv-value("height", 30, 10, 1);
      @include adaptiv-value("margin-right", 10, 3, 1);
    }
    &.button__line > div {
      // @include adaptiv-font($tittleMax, $tittleMin, 1);
      flex: 2 1 30%;
      border-bottom: 2px solid #908d84;
      @include adaptiv-value("border-bottom-width", 2, 1, 1);
    }
  }
}

ul.list {
  & > li {
    list-style: disc;
    margin-left: 23px;
  }
}

.block__info {
  overflow: hidden;
  .block__field {
    display: flex;
    align-items: flex-end;
    .field__name,
    .field__value {
      @include adaptiv-font($tittleMax, $tittleMin, 1);
    }

    .field__line {
      margin: 0 0 0 5px;
      flex: 2 0 5%;
      border-bottom: 1px solid #908d84;
    }
  }

  .block__fields {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    .block__field {
      // flex: 1;
      margin-left: 30px;
      &:first-child {
        margin-left: 0;
      }
    }
    .field__name,
    .field__value {
      @include adaptiv-font($tittleMax, $tittleMin, 1);
    }

    .field__line {
      margin: 0 0 0 5px;
      flex: 2 0 5%;
      border-bottom: 1px solid #908d84;
    }
  }
}
//Статистика 5/250/5
.field__stat {
  display: flex;
  & > div:last-child {
    margin-right: 0px;
    color: gray;
  }
  & > div {
    margin-right: 5px;
    color: red;
  }
  & > div:nth-child(2n) {
    color: gray;
  }
  & > div:first-child() {
    color: green;
  }
}

.hide {
  display: none !important;
}

.open {
  display: block !important;
}
//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ГОТОВЫЕ КЛАССЫ>====================================================================================================
.row:after {
  display: block;
  content: "";
  clear: both;
}
.rub:after {
  content: "₽";
}
//====================================================================================================
%noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
//====================================================================================================
ol.counter {
  list-style-type: none;
  counter-reset: item;
  li {
    position: relative;
    padding: 0px 0px 0px 45px;
    &:before {
      counter-increment: item;
      content: counter(item);
      position: absolute;
      left: 0;
      top: 0;
      color: #818181;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      line-height: 26px;
      border-radius: 50%;
      width: 28px;
      height: 28px;
      border: 1px solid #4274bb;
    }
  }
}

.block__all_row {
  display: flex;
  flex-direction: column;
  @media (max-width: $md3+px) {
    padding: 16px 0px 0px 0px !important;
  }
}
//====================================================================================================
.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.es {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
//====================================================================================================
.table {
  display: table;
  font-size: 0;
  width: 100%;
  //table-layout: fixed;
}
.trow {
  display: table-row;
}
.cell {
  display: table-cell;
  &.full {
    width: 100%;
  }
}
//====================================================================================================
._ibg {
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
body.ie {
  ._ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  ._ibg img {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
}
//====================================================================================================
.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
  video,
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.videobg {
  video,
  iframe,
  object,
  embed {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
  }
}
//====================================================================================================
// ._more-block
._more-block {
}
// ._more-content
._more-content {
  transition: all 0.3s ease 0s;
  overflow: hidden;
}
// ._more-item
._more-item {
}
// ._more-link
._more-link {
  cursor: pointer;
  span {
    font-style: normal;
    &:first-child {
      display: block;
    }
    &:last-child {
      display: none;
    }
  }
  &._active {
    span {
      font-style: normal;
      &:first-child {
        display: none;
      }
      &:last-child {
        display: block;
      }
    }
  }
}
//====================================================================================================
%graystyle {
  transition: all 0.3s ease 0s;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
}
%graystyleoff {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
}
//====================================================================================================
._swiper {
  overflow: hidden;
  //.swiper-wrapper
  .swiper-wrapper {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    display: flex;
    position: relative;
  }
  &.swiper-container-vertical {
    .swiper-wrapper {
      flex-direction: column;
    }
  }
  &.swiper-container-autoheight {
    .swiper-wrapper {
      align-items: flex-start;
    }
  }
}
.swiper-container-initialized {
  .swiper-slide {
    flex-shrink: 0;
    // transition-property: transform;
  }
}
.swiper-container-android {
  .swiper-slide,
  .swiper-wrapper {
    transform: translate3d(0px, 0, 0);
  }
}
.swiper-button-lock {
  display: none !important;
}
//====================================================================================================
//=====================================================================================================================
._tabs {
}
._tabs-item {
}
._tabs-block {
  display: none;
  &._active {
    display: block;
  }
}
//=====================================================================================================================
.mirror {
  transform: scale(-1, 1);
}
//=====================================================================================================================
.nicescroll-rails {
  z-index: 1000 !important;
}
//=====================================================================================================================

//========================================================================================================================================================
._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
  //background-color: rgba(0, 0, 0, 0.1);
  &__line {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px 0 0 3px;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
  }
}
//</ГОТОВЫЕ КЛАССЫ>====================================================================================================
